syntaxnet:
    ROOT_DIR: /home/mathias/workspace/syntactic_parser/tensorflow_models/syntaxnet
    PARSER_EVAL: bazel-bin/syntaxnet/parser_eval
    CONTEXT: syntaxnet/models/parsey_universal/context.pbtxt
    MODEL: syntaxnet/models/parsey_universal
    CUSTOM_FILE_DIR: /tmp # Folder where temp file will be created
    
